.navigation {
  width: 100%;
  display: flex;
  z-index: 10;
  position: relative;
  .menu {
    list-style: none;
    display: flex;
    align-items: baseline;
    &__item {
      height: 50px;
      width: auto;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: $weight-bolded;
      color: $color-black;
      position: relative;
      &:not(:last-child) {
        padding-right: 20px;
      }
      &:not(:first-child) {
        padding-left: 20px;
      }
    }
    
    &__dot {
      width: 0.4em;
      height: 0.4em;
      transform: translateY(-50%);
      background-color: $color-secondary;
      border-radius: 50%;
    }
  }
}
.menu__hover {
  display: flex;
  align-items: flex-start;
  transition: all 0.35s ease;
  opacity: 0;
  .hover__rectangle {
    width: 10%;
    background-color: $color-secondary;
    margin-right: 5%;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7),
    &:nth-child(9) {
      animation-name: hr1;
      animation-duration: 0.35s;
      animation-timing-function: linear;
      @keyframes hr1 {
        from { height: 7px; }
        to { height: 16px; }
      }
    }
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
      animation-name: hr2;
      animation-duration: 0.4s;
      animation-timing-function: linear;
      @keyframes hr2 {
        from { height: 11px; }
        to { height: 16px; }
      }
    }
    &:nth-child(3),
    &:nth-child(6) {
      animation-name: hr3;
      animation-duration: 0.35s;
      animation-timing-function: linear;
      @keyframes hr3 {
        from { height: 13px; }
        to { height: 16px; }
      }
    }
  }
}