// COLORS
$color-primary: #241C18;
$color-secondary: #826B60;
$color-secondary-lighter: #948077;
$color-tertiary: #E4DDD8;
$color-black: #000;

// FONT WEIGHTS
$weight-light: 300;
$weight-normal: 400;
$weight-bolded: 700;

// FONT TYPES
$font-base: 'Lora', sans-serif;
$font-second: 'Oswald', sans-serif;

// MEDIA QUERIES
$xs: ( max: 767px );
$sm: ( min: 768px );
$md: ( min: 992px );
$lg: ( min: 1200px );

// LAYOUT
$layout-grid: 5%;
$layout-side-padding: 10%;